/* Section - Recent works */
#projects {
  padding: 0;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  align-items: center;
}
#projects .tags {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.project {
  /* display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #333; */
  display: flex;
  flex-direction: column;
  gap: 2vh;
  text-align: center;
  padding: 2vh;
  margin: 0;
}
/* .project .img {
  display: block;
  overflow: hidden;
  object-fit: cover;
  height: 10vh;
  width: 100%;
  top: 0;
  position: relative;
} */
.project .img {
  display: block;
  overflow: hidden;
  height: 10vh;
  width: 100%;
  /* margin: 0 0 20px; */
}
.project .img img {
  display: block;
}
.project .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
}
.project:hover {
  color: #333;
  text-decoration: none;
}
.project:hover img {
  -webkit-filter: saturate(0%);
  filter: saturate(0%);
}

.project:hover img {
  opacity: .5;
}

/* .description {
  height: 15vh;
} */
