:root {
  --dark-grey: #2C3333;
  --dark-blue: #395B64;
  --blue: #A5C9CA;
  --light-blue: #E7F6F2;
}

html {
  font-size: 100%;
}

body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #666666;
  background-color: var(--light-blue);
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
